body * {
  box-sizing: border-box;
}

header {
  background-color: cadetblue;
  height: 40px;
  font-size: 2em;
  text-align: center;
}

body {
  background-color: gray;
  max-width: 1320px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr 1fr;
}

#A {
  grid-column: 1/2;
  grid-row: 1/4;
  min-width: 300px;
  height: 100%;
  background-color: rgb(195, 212, 235);
  border: 2px solid black;
}


#all_choices {
  display: flex;
  border: 2px solid black;
  border-left: 0px;
  justify-content: space-evenly;
  background-color: rgb(197, 213, 235);
  grid-column: 2/5;
  grid-row: 1/2;
  min-width: 900px;
  
}

#C {
  grid-column: 2/5;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
}

#D {
  grid-column: 2/5;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  background-color: rgb(197, 213, 235);
  border: 2px solid black;
  border-left: 0px;
  min-width: 900px;
  overflow: hidden;
  
}
#results {
  padding: 1em;
  margin: 7px;
  background-color: rgba(222, 238, 245, 0.479);
  border-radius: 20px;
  height: 98%;
}

#chartDiv {
  width: 70%;
  height: 90%;
  margin: 0.4em;
  min-width: 400px;
  min-height: 300px;
  
}

#myChart {
  min-height: 350px;
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 10px;
  
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: normal;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  text-align: center;

}

li:first-letter {
  text-transform: capitalize;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  letter-spacing: normal;
  margin-top: 5px;
}

img {
height: 200px;
border: 2px ;
border-style: outset; 
}

#all_choices {
  padding: 10px;
}

button {
  margin: 20px 20px;
}

#textBox {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0.5em;

}

p {
  margin-top: 1em;
  line-height: 1em;
  font-size: 1.1em;
}

footer {
  background-color: cadetblue;
  text-align: center;
}